.time-table {
    height: 100%;
    max-height: 100%;
}

.table-body {
    max-height: 100%;
}

.empty-msg{
    text-align: center;
    margin: 30% auto;
    width: 80%;
}

.table-wrapper{
    height: 100%;
    max-height: 100%;
}