.list {
    border: 2px solid #dee2e6;
    border-radius: 5px;
    height: 100%;
    grid-area: time-list;

    overflow-y: scroll;
    scroll-behavior: smooth;
}

.time-list {
    max-height: 300px;
    overflow: auto;
    scroll-behavior: smooth;
}

.time-list-heading {
    border-top: 0;
    font-size: 18px;
}

.empty-msg{
    margin-top: 30%;
}
