.list {
    border: 2px solid #dee2e6;
    height: 95%;
    margin-top: 20px;

    grid-area: time-list;

    overflow-y: scroll;
    scroll-behavior: smooth;
}

.time-list {
    max-height: 300px;
    overflow: auto;
    scroll-behavior: smooth;
}

.time-list-heading {
    border-top: 0;
}

.empty-msg{
    text-align: center;
    margin: 30% auto;
    width: 80%;
}
