.average-display {
    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-area: average-display;

    margin: 20px 20px 0 20px;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    text-align: center;
    align-content: center;
}

.timer-page-text {
    font-size: 20px;
}

.time-text {
    font-size: 30px;
}