body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
	color: #000000;
}

h2 {
	margin-left: 1rem;
}

/* ##### general ##### */
* {
	box-sizing: border-box;
}
main {
	padding: 0 2rem;
}

/* ##### Search ##### */
header {
	background: #3498db;
	margin-bottom: 2rem;
}

input[type='text'] {
	margin: 0rem;
	background: #fff;
	font-size: 1.3rem;
	border: none;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 2rem;
	width: calc(75% - 2rem);
	height: 4rem;
}

.column {
  margin: auto;
  float: none;
  width: 150%;
	padding: 20px;
}

/* ##### Rows ##### */
.row {
	margin: 1rem;
}

.row:after {
	padding: 1 0rem;
	content: '';
	display: table;
	clear: both;
}



button {
	background: #d7d7d7;
	color: #3b3b3b;
	padding: 1.2rem 2rem;
	font-size: 0.8rem;
	border: solid 1px #c7c7c7;
	margin: 1rem 1rem;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	outline: none;
}
button:hover {
	background: #BCBCBC;
}
