.qrPos {
    align-content: center;
    text-align: center;
    border: 2px solid #dee2e6;
    margin: 20px 200px 20px 200px;
}

.btn {
    margin: 5px;
}

.buttons{
    text-align: center;
}

@media print {
    .qrPos {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
        border: white;
    }
}