.assignT {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #dee2e6;
    border-left: 0;
    height: 100%;
}

.drpdwn {
    width: 100%;
}

.style-1 {
    display: flex;
    justify-content: space-evenly;
}